* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(paul-volkmer-qVotvbsuM_c-unsplash.jpg);
  background-size: cover;
}
