* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock-frame {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid lightgrey;
  position: relative;
  margin: 0 auto;
  transform: rotate(180deg);
}

.middle-dot {
  position: absolute;
  width: 5px;
  height: 5px;
  top: calc(50% - 2.5px);
  left: calc(50% - 2.5px);
  /* border: 4px solid grey; */
  background-color: grey;
  border-radius: 100%;
}

.minutes {
  position: absolute;
  background-color: grey;
  height: 80px;
  width: 3px;
  top: calc(50% - 1.5px);
  left: calc(50% - 1.5px);
  border-radius: 5px;
  animation: clockrotation 60s infinite linear;
  transform-origin: center 0;
}

.seconds {
  position: absolute;
  background-color: red;
  height: 70px;
  width: 1px;
  left: calc(50% - 0.5px);
  top: calc(50% - 0.5px);
  border-radius: 50%;

  animation: clockrotation 1s infinite linear;
  transform-origin: center 0;
}

@keyframes clockrotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
